html, body{
    height: 100%;
    margin: 0;
}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background: url(../ASSETS/img/husww.webp);
    background-size: cover;
    background-repeat: no-repeat;
    font-variant-position: center;
    color: #fff;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: rgb(105, 129, 169) !important;
}

h2{
    font-size: 3rem;
    color: #90d2fe ;
    letter-spacing: 0.4rem;
    font-family: "Creepster", serif;
    text-shadow: 
    0 0 5px #3f4f8a, 
    0 0 10px #3f4f8a, 
    0 0 15px #3f4f8a;

}
h3{
    color: #f8f8f8;
    text-shadow: 
    0 0 5px #3c4048, 
    0 0 10px #3c4048, 
    0 0 15px #3c4048;

}

.footer{
    color: #ffffff
}

.footer-links a {
    margin: 0 10px;
    color: #acf8aa;
    text-decoration: none;
    transition: color 0.2s ease;
}

.footer-links a:hover{
    color: #538b4a;
}

.footer-copyright{
    font-size: 14px;
    color: #979494
}

.bi{
    font-size: 18px;
    margin-right: 5px;
}

.logo{
    width: 4rem;
    height: 3rem;
    padding-right: 5px;
}
.gif{
    width: 500px;
    height: 500px;
    position: relative;
}

.dropdown-menu {
    --bs-dropdown-bg: #6c7caf;
}

.navbar {
    --bs-navbar-color: #575d87f0;
    --bs-navbar-brand-hover-color: #fff;
}